<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PayMeForYou - Backend</title>
    <link rel="stylesheet" href="~/lib/w3/dist/css/w3.css">
    <link rel="stylesheet" href="~/lib/google/dist/css/font/font.css">
    <link rel="stylesheet" href="~/lib/google/dist/css/icon/icon.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="w3-light-grey">
    <!-- Top container -->
    <div class="w3-bar w3-top w3-black" style="z-index:4">
        <button id="btnMenu" class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="switchMenu();" style="font-size:0px;"><i class="material-icons">menu</i></button>
        <a class="w3-bar-item w3-left w3-large partial-load" asp-controller="home" asp-action="index"  asp-route-isPartial="true">PayMeForYou</a>
        <span class="w3-bar-item w3-right w3-hide-small">
            <span>Welcome, <strong>Klen</strong></span>
            <span class="top-bar-user-action">
                <a class="w3-button w3-hover-none w3-hover-text-light-grey material-icons partial-load" title="User Profile" asp-controller="user" asp-action="profile">settings</a>
                <a class="w3-button w3-hover-none w3-hover-text-light-grey material-icons partial-load" title="Change Password" asp-controller="user" asp-action="password">lock</a>
                <a class="w3-button w3-hover-none w3-hover-text-light-grey material-icons partial-load" title="Log Out" asp-controller="user" asp-action="logout">exit_to_app</a>
            </span>
        </span>
    </div>
    <!-- Sidebar -->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:220px;" id="mySidebar">
        <!-- Sidebar profile block -->
        <div class="w3-container w3-row w3-hide-medium w3-hide-large">
            <br />
            <div class="w3-col s12 w3-bar">
                <div>Welcome, <strong>Klen</strong></div>
                <div>
                    <a class="w3-button w3-hover-none material-icons partial-load" title="User Profile" asp-controller="user" asp-action="profile">settings</a>
                    <a class="w3-button w3-hover-none material-icons partial-load" title="Change Password" asp-controller="user" asp-action="password">lock</a>
                    <a class="w3-button w3-hover-none material-icons partial-load" title="Log Out" asp-controller="user" asp-action="logout">exit_to_app</a>
                </div>
            </div>
        </div>
        <!-- Sidebar menu -->
        <div class="w3-bar-block">
            <a class="w3-bar-item w3-button w3-hide-large w3-dark-grey w3-hover-black" onclick="switchMenu()" title="close menu">
                <span>Close Menu</span>
            </a>
            @await Component.InvokeAsync("Menu")
        </div>
    </nav>
    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="switchMenu()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:220px; margin-top:43px;">
        <div id="divMainBody">
            @RenderBody()
        </div>
        <!-- Footer -->
        <footer class="w3-container w3-padding-16 w3-light-grey">
            <p>&copy; 2020 - PayMeForYou.Backend</p>
        </footer>
        <!-- End page content -->
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
